# Project of the KPMG AU virtual experience program
### Task1 (Data Quality Assesment)



# Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#ed1">Exploring CustomerDemographic Dataset</a></li>
<li><a href="#ed2">Exploring CustomerAddresses Dataset</a></li>
<li><a href="#ed3">Exploring Transactions Dataset</a></li>
<li><a href="#ed4">Exploring NewCustomerList Dataset</a></li>
</ul>

<a id='intro'></a>
# Introduction

Sprocket Central Pty Ltd , a medium size bikes & cycling accessories organisation, has approached Tony Smith (Partner) 
in KPMG’s Lighthouse & Innovation Team. Sprocket Central Pty Ltd  is keen to learn more about KPMG’s expertise in its Analytics, Information & Modelling team. 

Smith discusses KPMG’s expertise in this space (you can read more here). In particular, he speaks about how the team can effectively analyse the datasets to help Sprocket Central Pty Ltd grow its business.

Primarily, Sprocket Central Pty Ltd needs help with its customer and transactions data. The organisation has a large dataset relating to its customers, but their team is unsure how to effectively analyse it to help optimise its marketing strategy. 

However, in order to support the analysis, you speak to the Associate Director for some ideas and she advised that “the importance of optimising the quality of customer datasets cannot be underestimated. The better the quality of the dataset, the better chance you will be able to use it drive company growth.”

The client provided KPMG with 3 datasets:

* Customer Demographic 
* Customer Addresses
* Transactions data in the past 3 months

<a id='wrangling'></a>
# Data Wrangling

In [1]:
# first, import the libraries we need (Pandas)
import pandas as pd

In [2]:
# get each sheet sperated
CustomerDemographic = pd.read_excel("KPMG_dataset.xlsx", "CustomerDemographic")
CustomerAddress = pd.read_excel("KPMG_dataset.xlsx", "CustomerAddress")
Transactions = pd.read_excel("KPMG_dataset.xlsx", "Transactions")
NewCustomerList = pd.read_excel("KPMG_dataset.xlsx", "NewCustomerList")

<a id='ed1'></a>
# Exploring CustomerDemographic Dataset

In [3]:
CustomerDemographic.columns = CustomerDemographic.iloc[0]
CustomerDemographic = CustomerDemographic[1:]

CustomerDemographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
1,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11
2,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16
3,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15
4,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7
5,5,Sheila-kathryn,Calton,Female,56,1977-05-13 00:00:00,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8

In [4]:
CustomerDemographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 1 to 4000
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   object
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   object
 5   DOB                                  3913 non-null   object
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   object
dtypes: object(13)
memory usage: 406.4+ KB

-- There is multi columns are useless and data types are not suitable for analysis.

In [5]:
#check null values
CustomerDemographic.isnull().sum()

0
customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

-- There are 6 columns with null values.

In [6]:
# check for null values
CustomerDemographic.duplicated().sum()

0

-- No duplicates.

### Data Types should be edited

In [7]:
# The columns (customer_id, past_3_years_bike_related_purchases) should be int
CustomerDemographic['customer_id'] = CustomerDemographic['customer_id'].astype('int64') 
CustomerDemographic['past_3_years_bike_related_purchases'] = CustomerDemographic['past_3_years_bike_related_purchases'].astype('int64')  

# The columns (tenure) should be float
CustomerDemographic['tenure'] = CustomerDemographic['tenure'].astype('float') 

# The column (DOB) should be datetype
CustomerDemographic['DOB'] = pd.to_datetime(CustomerDemographic['DOB'])

### Remove columns

In [8]:
# remove default column becouse of inconsistent
CustomerDemographic = CustomerDemographic.drop(['default'], axis=1)

In [9]:
#Check updates
CustomerDemographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 1 to 4000
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  owns_car                             4000 non-null   object
 11  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 375.1+ KB

### Exploring Columns

In [10]:
CustomerDemographic.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure'],
      dtype='object', name=0)

In [11]:
CustomerDemographic['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64

In [12]:
# update gender values to ('Male', 'Female', 'Unspecified')
CustomerDemographic['gender'] = CustomerDemographic['gender'].replace('M', 'Male')
CustomerDemographic['gender'] = CustomerDemographic['gender'].replace('F', 'Female')
CustomerDemographic['gender'] = CustomerDemographic['gender'].replace('Femal', 'Female')
CustomerDemographic['gender'] = CustomerDemographic['gender'].replace('U', 'Unspecified')

#check update
CustomerDemographic['gender'].value_counts()

Female         2039
Male           1873
Unspecified      88
Name: gender, dtype: int64

In [13]:
CustomerDemographic['DOB'].value_counts()

1978-01-30    7
1964-07-08    4
1962-12-17    4
1978-08-19    4
1977-05-13    4
             ..
1989-06-16    1
1998-09-30    1
1985-03-11    1
1989-10-23    1
1991-11-05    1
Name: DOB, Length: 3448, dtype: int64

In [14]:
CustomerDemographic['owns_car'].value_counts()

Yes    2024
No     1976
Name: owns_car, dtype: int64

In [15]:
CustomerDemographic['wealth_segment'].value_counts()

Mass Customer        2000
High Net Worth       1021
Affluent Customer     979
Name: wealth_segment, dtype: int64

In [16]:
CustomerDemographic['deceased_indicator'].value_counts()

N    3998
Y       2
Name: deceased_indicator, dtype: int64

<a id='ed2'></a>
# Exploring CustomerAddress Dataset

In [17]:
CustomerAddress.columns = CustomerAddress.iloc[0]
CustomerAddress = CustomerAddress[1:]

CustomerAddress.head()

,customer_id,address,postcode,state,country,property_valuation
1,1,060 Morning Avenue,2016,New South Wales,Australia,10
2,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
3,4,0 Holy Cross Court,4211,QLD,Australia,9
4,5,17979 Del Mar Point,2448,New South Wales,Australia,4
5,6,9 Oakridge Court,3216,VIC,Australia,9

In [18]:
CustomerAddress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 1 to 3999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   object
 1   address             3999 non-null   object
 2   postcode            3999 non-null   object
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   object
dtypes: object(6)
memory usage: 187.6+ KB

-- Customer_id & property_valuation columns need to data types convert for analysis.

In [19]:
# check for null values
CustomerAddress.isnull().sum()

0
customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

-- There is no null values

In [20]:
# check for duplicates
CustomerAddress.duplicated().sum()

0

-- No duplicates.

### Data Types should be edited

In [21]:
# The columns (customer_id, postcode, property_valuation) should be int
CustomerAddress['customer_id'] = CustomerAddress['customer_id'].astype('int64') 
CustomerAddress['property_valuation'] = CustomerAddress['property_valuation'].astype('int64') 
CustomerAddress['postcode'] = CustomerAddress['postcode'].astype('int64')

In [22]:
# check for updates
CustomerAddress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 1 to 3999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

### Exploring Columns

In [23]:
CustomerAddress.columns

Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object', name=0)

In [24]:
CustomerAddress['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

-- "New South Wales" Should be changed to "NSW"<br>-- "Victoria" Should be changed to "VIC"

In [25]:
# replace New South Wales to NSW
CustomerAddress['state'] = CustomerAddress['state'].replace('New South Wales', 'NSW')
# replace Victoria ro VIC
CustomerAddress['state'] = CustomerAddress['state'].replace('Victoria', 'VIC')

#check for updates
CustomerAddress['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [26]:
CustomerAddress['country'].value_counts()

Australia    3999
Name: country, dtype: int64

In [27]:
CustomerAddress['property_valuation'].value_counts()

9     647
8     646
10    577
7     493
11    281
6     238
5     225
4     214
12    195
3     186
1     154
2     143
Name: property_valuation, dtype: int64

<a id='#ed3'></a>
# Exploring Transactions Dataset

In [28]:
Transactions.columns = Transactions.iloc[0]
Transactions = Transactions[1:]

Transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
2,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
3,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
4,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145
5,5,78,787,2017-10-01 00:00:00,True,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,42226

In [29]:
Transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  object
 1   product_id               20000 non-null  object
 2   customer_id              20000 non-null  object
 3   transaction_date         20000 non-null  object
 4   online_order             19640 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  object
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  object
dtypes: object(13)
memory usage: 2.0+ MB

-- There is many columns data types are not suitable for analysis.

In [30]:
# check for null values
Transactions.isnull().sum()

0
transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

-- There are 7 columns with null values

In [31]:
# check duplications
Transactions.duplicated().sum()

0

-- No duplicates.

### Data Types should be edited

In [32]:
# The columns (transaction_id, product_id, customer_id, list_price) should be int
Transactions['transaction_id'] = Transactions['transaction_id'].astype('int64')
Transactions['product_id'] = Transactions['product_id'].astype('int64')
Transactions['customer_id'] = Transactions['customer_id'].astype('int64')
Transactions['list_price'] = Transactions['list_price'].astype('int64')

# The columns (standard_cost) should be float
Transactions['standard_cost'] = Transactions['standard_cost'].astype('float')

# The columns (transaction_date, product_first_sold_date) should be date type
Transactions['transaction_date'] = pd.to_datetime(Transactions['transaction_date'])
Transactions['product_first_sold_date'] = pd.to_datetime(Transactions['product_first_sold_date'])

In [33]:
# check for updates
Transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  int64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(4), object(6)
memory usage: 2.0+ MB

### Exploring Columns

In [34]:
Transactions.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object', name=0)

In [35]:
Transactions['transaction_date'].value_counts()

2017-02-14    82
2017-08-18    82
2017-10-15    76
2017-01-31    73
2017-12-19    71
              ..
2017-01-12    38
2017-12-07    37
2017-03-29    36
2017-09-25    35
2017-10-19    32
Name: transaction_date, Length: 364, dtype: int64

In [36]:
Transactions['order_status'].value_counts()

Approved     19821
Cancelled      179
Name: order_status, dtype: int64

In [37]:
Transactions['product_first_sold_date'].value_counts()

1970-01-01 00:00:00.000033879    234
1970-01-01 00:00:00.000041064    229
1970-01-01 00:00:00.000037823    227
1970-01-01 00:00:00.000039880    222
1970-01-01 00:00:00.000038216    220
                                ...
1970-01-01 00:00:00.000041848    169
1970-01-01 00:00:00.000042404    168
1970-01-01 00:00:00.000041922    166
1970-01-01 00:00:00.000037659    163
1970-01-01 00:00:00.000034586    162
Name: product_first_sold_date, Length: 100, dtype: int64

-- product_first_sold_date values are illogical as it show values in the same day.

<a id='#ed4'></a>
# Exploring NewCustomerList Dataset

In [38]:
NewCustomerList.columns = NewCustomerList.iloc[0]
NewCustomerList = NewCustomerList[1:]

NewCustomerList.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,Rank,Value
1,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.68,0.85,1.0625,0.903125,1.0,1,1.71875
2,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.47,0.47,0.5875,0.499375,1.0,1,1.71875
3,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,0.54,0.54,0.5400,0.540000,1.0,1,1.71875
4,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.40,0.50,0.5000,0.500000,4.0,4,1.703125
5,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.74,0.74,0.9250,0.925000,4.0,4,1.703125

In [39]:
NewCustomerList.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1 to 1000
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   object
 4   DOB                                  983 non-null    object
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   object
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   object
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   object
 16  nan                                  1000 non-null   float64
 17  nan                                  1000 non-null   float64
 18  nan                                  1000 non-null   float64
 19  nan                                  1000 non-null   float64
 20  nan                                  1000 non-null   float64
 21  Rank                                 1000 non-null   object
 22  Value                                1000 non-null   object
dtypes: float64(5), object(18)
memory usage: 179.8+ KB

-- There are many useless columns and columns with not suitable data types for analysis.

In [40]:
# check non values
NewCustomerList.isnull().sum()

0
first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
NaN                                      0
NaN                                      0
NaN                                      0
NaN                                      0
NaN                                      0
Rank                                     0
Value                                    0
dtype: int64

-- There 4 columns with null values

In [41]:
# check duplicates
NewCustomerList.duplicated().sum()

0

-- no duplicates

### Columns the should be deleted

In [42]:
NewCustomerList = NewCustomerList.drop(NewCustomerList.columns[[16,17,18,19,20]],axis=1)

### Data Types should be edited

In [43]:
# The columns (past_3_years_bike_related_purchases, property_valuation, Rank, Value) should be int
NewCustomerList['past_3_years_bike_related_purchases'] = NewCustomerList['past_3_years_bike_related_purchases'].astype('int64')
NewCustomerList['property_valuation'] = NewCustomerList['property_valuation'].astype('int64')
NewCustomerList['Rank'] = NewCustomerList['Rank'].astype('int64')
NewCustomerList['Value'] = NewCustomerList['Value'].astype('int64')

# The column (DOB) should be date type
NewCustomerList['DOB'] = pd.to_datetime(NewCustomerList['DOB'])

In [44]:
# check for updates
NewCustomerList.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1 to 1000
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   object
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   object
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Rank                                 1000 non-null   int64
 17  Value                                1000 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(13)
memory usage: 140.8+ KB

### Exploring Columns

In [45]:
NewCustomerList.columns

Index(['first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'address', 'postcode', 'state', 'country',
       'property_valuation', 'Rank', 'Value'],
      dtype='object', name=0)

In [46]:
NewCustomerList['gender'].value_counts()

Female    513
Male      470
U          17
Name: gender, dtype: int64

-- There are 17 customers with Unspecified gedner

In [47]:
# replace 'U' with 'Unspecified'
NewCustomerList['gender'] = NewCustomerList['gender'].replace('U', 'Unspecified')

#check
NewCustomerList['gender'].value_counts()

Female         513
Male           470
Unspecified     17
Name: gender, dtype: int64

In [48]:
NewCustomerList['past_3_years_bike_related_purchases'].value_counts()

60    20
59    18
42    17
70    17
11    16
      ..
19     5
9      5
92     5
85     4
20     3
Name: past_3_years_bike_related_purchases, Length: 100, dtype: int64

In [49]:
NewCustomerList['DOB'].value_counts()

1998-02-05    2
1978-01-15    2
1977-11-08    2
1951-11-28    2
1979-07-28    2
             ..
1945-08-08    1
1943-08-27    1
1999-10-24    1
1976-01-24    1
1955-10-02    1
Name: DOB, Length: 958, dtype: int64

-- There is a customer with a DOB in 1955 which may be out of scope

In [50]:
NewCustomerList['state'].value_counts()

NSW    506
VIC    266
QLD    228
Name: state, dtype: int64

In [51]:
NewCustomerList['owns_car'].value_counts()

No     507
Yes    493
Name: owns_car, dtype: int64